<div class="tab-pane" role="tabpanel" id="tab-2">
  <div style="width: 100%; padding: 2%">
    <form action="/student/late-save" method="POST">
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Name of Student:</strong></label
        ><input
          class="form-control form-control-sm"
          type="text"
          style="width: 50%"
          name="name"
          placeholder="Your Full Name"
          readonly=""
          value="<%= student.name %>"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Student ID:</strong></label
        ><input
          class="form-control form-control-sm"
          type="text"
          style="width: 50%"
          name="id"
          placeholder="Your Student ID"
          readonly=""
          value="<%= student.id %>"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Country:</strong></label
        ><input
          class="form-control form-control-sm"
          type="text"
          style="width: 50%"
          name="country"
          placeholder="Your Country Name"
          readonly=""
          value="<%= student.country %>"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Room No.:</strong></label
        ><input
          class="form-control form-control-sm"
          type="text"
          style="width: 50%"
          name="roomNo"
          placeholder="Your Room Number"
          readonly=""
          value="<%= student.roomNo %>"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Hall Block:</strong></label
        ><input
          class="form-control form-control-sm"
          type="text"
          style="width: 50%"
          name="hallBlock"
          placeholder="Your Hall Block"
          readonly=""
          value="<%= student.hallBlock %>"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Student's Contact Number:&nbsp;</strong></label
        ><input
          class="form-control form-control-sm"
          type="tel"
          id="contact_no-2"
          style="width: 50%; display: inline-block"
          name="studentContact"
          required=""
          minlength="11"
          maxlength="14"
          placeholder="Your Mobile Number"
          pattern="\d+"
          inputmode="tel"
          autocomplete="on"
          value="<%= student.contactNo %>"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Place of visit:</strong></label
        ><input
          class="form-control form-control-sm"
          type="text"
          style="width: 50%"
          name="placeOfVisit"
          placeholder="Place of your visit during the leave"
          required=""
        />
      </div>
      <div style="margin-bottom: 10px; width: 100%">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Reason for being late:</strong></label
        ><select
          class="form-select form-select-sm"
          style="width: 50%"
          name="lateReason"
          required=""
          onchange="getReasonBox(this.value)"
        >
          <option value="-1" selected="">Select Suitable Reason</option>
          <option value="item1">This is item 1</option>
          <option value="item2">This is item 2</option>
          <option value="item3">This is item 3</option>
          <option value="others">Others</option></select
        ><input
          class="form-control description-box"
          type="text"
          style="margin-top: 10px; width: 50%"
          placeholder="Please describe your Reason"
          name="othersDescription"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Accompanying person's phone number:</strong></label
        ><input
          class="form-control form-control-sm"
          type="tel"
          id="contact_no-3"
          style="width: 50%; display: inline-block"
          name="accompanyingPersonContact"
          required=""
          minlength="11"
          maxlength="14"
          placeholder="Contact Person's Mobile Number"
          pattern="\d+"
          value="<%= student.guardianContact %>"
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Time of departure:</strong></label
        ><input
          class="form-control form-control-sm"
          type="datetime-local"
          style="width: auto"
          name="departureTime"
          required=""
        />
      </div>
      <div style="width: 100%; margin-bottom: 10px">
        <label
          class="form-label d-xxl-flex"
          style="
            width: 100%;
            font-family: Poppins, sans-serif;
            display: inline-block;
          "
          ><strong>Time of Arrival:</strong></label
        ><input
          class="form-control form-control-sm"
          type="datetime-local"
          style="width: auto"
          required=""
          name="arrivalTime"
        />
      </div>
      <button
        class="btn btn-outline-dark"
        type="submit"
        style="width: auto; height: auto; margin-top: 10px"
      >
        Submit
      </button>
    </form>
  </div>
</div>
