<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentDetails</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
</head>

<body style="margin: 0px;margin-bottom: 0px;padding-bottom: 0px;margin-right: 0px;padding-right: 0px;width: 100%;position: relative;background: transparent;" data-bs-target="#navcol-2" data-bs-smooth-scroll="true">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="width: 100%;height: 160px;margin-top: 0px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/admin/dashboard"><img src="assets/img/IUT_LOGO.png" width="87" height="106"><span style="font-size: 40px;color: rgba(103,8,8,0.9);"><strong>IUT </strong>LLIS</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <div class="btn-group open"><button class="btn btn-primary" id="username" type="button" name="userName">Admin xyz</button><button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="true" type="button"></button>
                        <div class="dropdown-menu show" data-bs-popper="none" id="logout" name="logout"><a class="dropdown-item" id="resetPassword" href="/admin/resetPassword" name="resetPassword">Reset Password</a><a class="dropdown-item" href="/admin/logout">Logout</a></div>
                    </div>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="width: 100%; padding: 2%">
        <form action="/student/leave-save" method="POST">
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Name of Student:</strong></label
            ><input
              class="form-control form-control-sm"
              type="text"
              style="width: 50%"
              name="name"
              placeholder="Your Full Name"
              readonly=""
              value="<%= student.name %>"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Student ID:</strong></label
            ><input
              class="form-control form-control-sm"
              type="text"
              style="width: 50%"
              name="id"
              placeholder="Your Student ID"
              readonly=""
              value="<%= student.id %>"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Country:</strong></label
            ><input
              class="form-control form-control-sm"
              type="text"
              style="width: 50%"
              name="country"
              placeholder="Your Country Name"
              readonly=""
              value="<%= student.country %>"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Room No.:</strong></label
            ><input
              class="form-control form-control-sm"
              type="text"
              style="width: 50%"
              name="roomNo"
              placeholder="Your Room Number"
              readonly=""
              value="<%= student.roomNo %>"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Hall Block:</strong></label
            ><input
              class="form-control form-control-sm"
              type="text"
              style="width: 50%"
              name="hallBlock"
              placeholder="Your Hall Block"
              readonly=""
              value="<%= student.hallBlock %>"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Student's Contact Number:&nbsp;</strong></label
            ><input
              class="form-control form-control-sm"
              type="tel"
              id="contact_no"
              style="width: 50%; display: inline-block"
              name="studentContact"
              required=""
              minlength="11"
              maxlength="14"
              placeholder="Your Mobile Number"
              pattern="\d+"
              inputmode="tel"
              autocomplete="on"
              value="<%= student.contactNo %>"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Place of visit:</strong></label
            ><input
              class="form-control form-control-sm"
              type="text"
              style="width: 50%"
              name="placeOfVisit"
              placeholder="Place of your visit during the leave"
              required=""
            />
          </div>
          <div style="margin-bottom: 10px; width: 100%">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Purpose of visit:</strong></label
            ><select
              class="form-select form-select-sm"
              style="width: 50%"
              name="purposeOfVisit"
              required=""
              onchange="getDescriptionBox(this.value)"
            >
              <option value="-1" selected="">Select Suitable Purpose</option>
              <option value="item1">This is item 1</option>
              <option value="item2">This is item 2</option>
              <option value="item3">This is item 3</option>
              <option value="others">Others</option></select
            ><input
              class="form-control description-box"
              type="text"
              style="margin-top: 10px; width: 50%"
              placeholder="Please describe your purpose"
              name="othersDescription"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Contact person's phone number:</strong></label
            ><input
              class="form-control form-control-sm"
              type="tel"
              id="contact_no-1"
              style="width: 50%; display: inline-block"
              name="contactPersonContact"
              required=""
              minlength="11"
              maxlength="14"
              placeholder="Contact Person's Mobile Number"
              pattern="\d+"
              value="<%= student.guardianContact %>"
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Date of departure:</strong></label
            ><input
              class="form-control form-control-sm"
              type="date"
              style="width: auto"
              name="departureDate"
              required=""
            />
          </div>
          <div style="width: 100%; margin-bottom: 10px">
            <label
              class="form-label d-xxl-flex"
              style="
                width: 100%;
                font-family: Poppins, sans-serif;
                display: inline-block;
              "
              ><strong>Date of Arrival:</strong></label
            ><input
              class="form-control form-control-sm"
              type="date"
              style="width: auto"
              required=""
              name="arrivalDate"
            />
          </div>
          <button
            class="btn btn-outline-dark"
            type="submit"
            style="width: auto; height: auto; margin-top: 10px"
          >
            Apply for Leave
          </button>
        </form>
      </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>